
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
     background-color: #FBF6ED;
     position: relative;
     width: 100%;
}
/* .header{
    background-color: rgb(230, 229, 229);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;   
} */

.logo a {
    color: #fc9032;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}
.logo a span{
    font-size: 40px;
    font-weight: lighter;
}


.navbar{
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;


    display: flex;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(#fff, #FBF6ED);
    border-bottom: 1px solid #fc9032;
    /* border-radius: 100px 100px; */
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08)
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    padding: 25px 0;
}

.nav-link li{
    list-style: none;
    position: relative;
    z-index: 9;
}

.nav-link li img{
    width: 22px;
    /* opacity: 0.8; */
    padding: 0px 15px;
}

.sub-link {
    position: absolute;
    top: 30px;
    left: -25%;
    padding: 5px 10px;
    background-color: #000;
    border-radius: 5px;
    visibility: hidden;

}

.first{
    left: -75%;
    min-width: 180px;
}


.nav-link li:hover .sub-link{
    visibility: visible;
    transform: rotate(5deg);
}


.nav-link li img:hover{
    transform: rotate(-10deg);
}
.sub-link a {
    text-decoration: none;
    color: white;
}


/* button details */

.action a{ 
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 20px;
}
.action a:hover {
    color: #fff;
    background:linear-gradient(#777, #171717);
}

